---
import Layout from '../layouts/Layout.astro';
import {Content as Lqon} from '../contenidos/lqon.mdx';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="prose prose-lqon prose-h1:font-medium prose-h2:font-medium prose-h1:font-sans mx-auto max-h-screen text-2xl pt-6 pb-20 md:px-0 font-serif">
			<Lqon />
		</div>
	</main>
</Layout>