---
title: 'Planteamiento';
import Layout from '../layouts/Layout.astro';
import Indice from '../components/Indice.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Indice />
	</main>
</Layout>