---

---

<header class="p-6 font-medium">
  <h1 class="text-2xl">Identidad visual proyecto "Lo quieras o no" del coletivo Democracia</h1>

  <nav>
    <ul class="text-xl">
      <li>
        <a href="/">Intro</a> <span class="font-thin">|</span> <a href="/aproximacion">Aproximación</a> <span class="font-thin">
      </li>
    </ul>
  </nav>
</header>
