---

---
<div class="indice px-6">
    <nav class="lista relative">
        <ul class="top-0 left-0 absolute font-bold md:text-2xl w-full">
            <li id="enlace-1" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">1.</span> Ojkital</a>
            </li>
            <li id="enlace-2" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">2.</span> Encikutao</a>
            </li>
            <li id="enlace-3" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">3.</span> Taktel</a>
            </li>
            <li id="enlace-4" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">4.</span> Gorreta</a>
            </li>
            <li id="enlace-5" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">5.</span> Vicius</a>
            </li>
            <li id="enlace-6" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">6.</span> Grupo Chusky</a>
            </li>
            <li id="enlace-7" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">7.</span> Nono</a>
            </li>
            <li id="enlace-8" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">8.</span> Chirly</a>
            </li>
            <li id="enlace-9" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">9.</span> Work Song</a>
            </li>
            <li id="enlace-10" class="border-b">
                <a class="block py-2" href="http://"><span class="w-[1.5em] inline-block">10.</span> Lucía</a>
            </li>
        </ul>

        <svg id="planometro" class="w-full md:w-1/2 mx-auto" viewBox="0 0 2046 2566" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path class="stroke-white" id="linea1" d="M1391.63 2510.98L1303.87 2423.22V2123.46L875.16 1694.75V1238.15L775.641 1138.62V943.908L851.05 868.487H946.4V794.107H1160.84L1202.79 752.167H1284.08"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea2" d="M1817.35 1626.84H1649.89L1411.1 1388.05H1374.32L1037.41 1724.96H775.641V1148.88"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea3" d="M803.841 2544.85L858.661 2490.02V2269.76L957 2171.42V1957.21L882.291 1882.5V1724.05L506.242 1348"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea4" d="M1284.27 753.587H1429.38L1485.43 809.627V990.318L1182 1293.76L1247.21 1358.96V1509H974.97L872.271 1406.29H564.611"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea5" d="M1867.2 1107.04L1594.81 1379.43H1119.58L780.191 1718.82V1786.96L865.39 1872.16L566.441 2171.12H506.241L428.262 2093.15V1786.59"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white"id="linea6" fill-rule="evenodd" clip-rule="evenodd" d="M1009.94 1145.44L1359.55 1495.05V1839.38L1025.56 2173.38H706.701L500.282 1966.95V1801.56L642.541 1659.3V1579.08L536.802 1473.35V1373.18L507.332 1343.71V1225.7L589.802 1143.23L1009.94 1145.44Z"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea7" d="M628.731 537.925V1240.98L675.751 1288H1485.43L1683.97 1486.53H1870.8L2024.59 1640.33"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea8" d="M1887.43 675.08V786.997L1765.75 908.667H1180.62L965.74 1123.55"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea9" d="M749.321 534.664V675.08L959.33 885.097H1040.48L1162.02 1006.64V1590.77L1973.78 2402.52"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path class="stroke-white" id="linea10" d="M21 2423.17V2256.75L255.752 2022V1961.37L706.411 1510.71H957V619.303L929.561 591.868V449.79L1085.35 294.001H1147.73L1420.73 21"  stroke-width="41.6699" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
    </nav>

    <script>
        let activa: any;
        const planometro = document.getElementById('planometro');
        const linea1 = document.getElementById('linea1');
        const enlace1 = document.getElementById('enlace-1');

        const linea2 = document.getElementById('linea2');
        const enlace2 = document.getElementById('enlace-2');

        const linea3 = document.getElementById('linea3');
        const enlace3 = document.getElementById('enlace-3');

        const linea4 = document.getElementById('linea4');
        const enlace4 = document.getElementById('enlace-4');

        const linea5 = document.getElementById('linea5');
        const enlace5 = document.getElementById('enlace-5');

        const linea6 = document.getElementById('linea6');
        const enlace6 = document.getElementById('enlace-6');

        const linea7 = document.getElementById('linea7');
        const enlace7 = document.getElementById('enlace-7');

        const linea8 = document.getElementById('linea8');
        const enlace8 = document.getElementById('enlace-8');

        const linea9 = document.getElementById('linea9');
        const enlace9 = document.getElementById('enlace-9');
        
        const linea10 = document.getElementById('linea10');
        const enlace10 = document.getElementById('enlace-10');

        enlace1?.addEventListener('mouseenter', () => {
            lineaOn(linea1);
        })
        
        enlace2?.addEventListener('mouseenter', () => {
            lineaOn(linea2);
        })
        
        enlace3?.addEventListener('mouseenter', () => {
            lineaOn(linea3);
        })
        
        enlace4?.addEventListener('mouseenter', () => {
            lineaOn(linea4);
        })
        
        enlace5?.addEventListener('mouseenter', () => {
            lineaOn(linea5);
        })
        
        enlace6?.addEventListener('mouseenter', () => {
            lineaOn(linea6);
        })
        
        enlace7?.addEventListener('mouseenter', () => {
            lineaOn(linea7);
        })
        
        enlace8?.addEventListener('mouseenter', () => {
            lineaOn(linea8);
        })
        
        enlace9?.addEventListener('mouseenter', () => {
            lineaOn(linea9);
        })
        
        enlace10?.addEventListener('mouseenter', () => {
            lineaOn(linea10);
        })
        
        function lineaOn(elem: any) {
            if (activa) {
                activa.setAttribute("class", "stroke-white");
            }

            planometro?.removeChild(elem);
            planometro?.appendChild(elem);

            elem.setAttribute("class", "stroke-red-700");
            activa = elem;
        }
    </script>
</div>