<div class="logo-perspectiva bg-white relative">
    <img class="absolute w-[50%] left-[35%] top-[23%]" src="./lo-quieras-o-no-texto.svg" alt="Logotipo Lo quieras o no">
    <video class="w-1/2" src="./torno-perspectiva-ret.mp4" muted loop autoplay playsinline></video>
</div>
